<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="header" class="d-flex justify-content-center py-3 border-bottom">
        <div class="nav nav-pills">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/addSchool" class="nav-link active">
                        Добавить школу
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/listSchools" class="nav-link active">
                        Список школ
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</html>